body {
    font-size: 15pt;
    background-color: yellow;
}
h1 {
  text-align: center;
  color: red;
  background: greenyellow;
  font-size: 70px;
}
.under-const {
  text-align: center;
  color: orange;
  background: grey;
  font-size: 55px;
}
.comeback {
  text-align: center ;
  color: olive;
  background: lightgray;
  font-size: 45px;
}